body {
/*background: url("../images/background.png");*/
font-family: 'Open Sans Condensed', sans-serif;
font-size: 16px;
overflow: auto;

}

h3 {
	font-weight: bold;

}


#introduction {
	position: relative;
	top: 30px;
	margin-bottom: 40px;

}



#pageName {

	padding: 10px 0 10px 0;
	background-color: rgba(240,128,128, .60);
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 100px;
	font-weight: bold;
	color: white;
}

#pic1, #pic2, #pic3, #pic4  {

	background-color: #b87373;
	height: 180px;
	width: 180px;
	margin: 20px;
	position: relative;
	bottom:70px;

}



#footer {
	text-align: center;
	padding-top: 15px;
}


#number {
	background-color: #9bbdc9;
	height: 150px;
	width: 150px;
	margin: 20px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	position: relative;
	top: 30px;

}


#totalScore {

	background-color: #90a3b4;
	height: 150px;
	width: 150px;
	margin: 20px;
	padding-top: 20px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 30px;

}


#score {
	background-color: #757aa3;
	height: 150px;
	width: 150px;
	margin: 20px;
	padding-top: 20px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 30px;

}


.crystal-image {
	height: 250px;
	width: 250px;
	margin: 15px;
}

#counts {
	margin-bottom: 100px;
}