body {
/*background: url("../images/background.png");*/
font-family: 'Open Sans Condensed', sans-serif;
font-size: 16px;
overflow: auto;
margin-bottom: 100px;
}

h3 {
	font-weight: bold;

}


#introduction {
	position: relative;
	top: 30px;
	margin-bottom: 40px;

}



#pageName {

	padding: 10px 0 10px 0;
	background-color: rgba(240,128,128, .60);
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 100px;
	font-weight: bold;
	color: white;
}

#pic1, #pic2, #pic3, #pic4  {

	background-color: #b87373;
	/*height: 250px;
	width: 200px;
	margin: 20px;*/
	position: relative;
	left: 40px;

}



#footer {
	text-align: center;
	padding-top: 15px;
}


#number {
	
	height: 150px;
	width: 300px;
	margin: 15px 20px 10px 20px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	text-align: center;
	border: 1px solid #dedddd;
	border-radius: 5px; 
	

}


#totalScore {

	
	height: 150px;
	width: 300px;
	margin: 15px 20px 10px 20px;
	padding-top: 20px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	border-color: black;
	border: 1px solid #dedddd;
	border-radius: 5px; 

	

}


#score {
	
	height: 150px;
	width: 300px;
	margin: 15px 20px 10px 20px;
	padding-top: 20px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #dedddd;
	border-radius: 5px; 
	

}


.crystal-image {
	height: 300px;
	width: 300px;
	margin: 15px;
	position: relative;
	left: 60px;
}

#counts {
	margin-bottom: 100px;
}